<div class="row">
	<div>
      <h2>Followed Usres</h2>
	    <table class="table">
	    	<thead>
	    	    <tr>
	    			<th>image</th>
	    			<th>name</th>
	    			<th></th>
	    			<th></th>
	    			<th></th>
	    		</tr>
	    	</thead>
	    		<tbody>
	    			<% @user.followers.each do |followed| %>
	    			<tr>
	    				<td><%= attachment_image_tag followed, :profile_image, :fill, 40, 40, class: "img-round",fallback: "no_image.jpg" %></td>
	    				<td>
	    					<%= link_to user_path(followed) do %>
	    					  <%= followed.name %>
	    					<% end %>
	    				</td>
	    				<td>フォロー数: <%= followed.following.count %></td>
	    				<td>フォロワー数: <%= followed.followers.count %></td>
	    				<td><%= link_to "Show", user_path(followed) %></td>
	    			</tr>
	    			<% end %>
	    	    </tbody>
	    </table>
	</div>
</div>
