	<div class="row">

		<div class="col-xs-3">
            <%= render :partial => 'layouts/profile', :locals => {:user => @user}%>
            <%= render :partial => 'layouts/form', :locals => {:book => @book}%>
		</div>
	    <div class="col-xs-9">
	    	<div >
                <h2>Users</h2>
	    		<table class="table">
	    		  <thead>
	    			<tr>
	    				<th>image</th>
	    				<th>name</th>
	    				<th></th>
	    		    </tr>
	    		  </thead>
	    		  <tbody>
	    			<% @users.each do |b| %>
	    			<tr>
	    				<td><%= attachment_image_tag b, :profile_image, :fill, 40, 40, class: "img-round",fallback: "no_image.jpg" %></td>
	    				<td><%= b.name %></td>
	    				<td><%= link_to "Show", user_path(b) %></td>
	    			</tr>
	    			<% end %>
	    		  </tbody>
	    		</table>
	    	</div>
	    </div>
	</div>

