	<div class="row">
		<!-- -------------error------------- -->
	  <div class="container" style="color: red;">
      <% if @book.errors.any? %>
          <h3 class="error-message"><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h3>
          <ul class="error-text">
            <% @book.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
          </ul>
      <% end %>
      </div>
      <!-- ---------------------------------- -->
        <% if flash[:notice] %>
	      <div class="flash">
	  	    <%= flash[:notice] %>
	      </div>
	    <% end %>
	  <!-- -------------------------------------->
		<div class="col-xs-3">
            <%= render :partial => 'layouts/profile', :locals => {:user => @user}%>
            <%= render :partial => 'layouts/form', :locals => {:book => @book}%>
		</div>
	    <div class="col-xs-9">
	    	<div >
                <h2>Books</h2>
	    		<table class="table table-hover">
	    		  <thead>
	    			<tr>
	    				<th></th>
	    				<th>Title</th>
	    				<th>Opinion</th>
	    				<th></th>
	    				<th></th>
	    		    </tr>
	    		  </thead>
	    		  <tbody>
	    			<% @books.each do |book| %>
	    			    <%= render :partial => 'books/favorite', :locals => {:book => book}>
	    			<% end %>
	    		  </tbody>
	    		</table>
	    	</div>
	    </div>
	</div>