	<div class="row">
        <% if flash[:notice] %>
	      <div class="flash">
	  	    <%= flash[:notice] %>
	      </div>
	    <% end %>
		<div class="col-xs-3">
            <%= render :partial => 'layouts/profile', :locals => {:user => @user}%>
            <%= render :partial => 'layouts/form', :locals => {:book => @book}%>
		</div>
	    <div class="col-xs-9">
	    	<div>
                <h2>Book detail</h2>
	    		<table class="table">
	    		  <tbody>
	    			<tr id="favorite-<%= @showbook.id %>">
	    				<%= render :partial => 'books/favorite', :locals => {:book => @showbook} %>
	    			</tr>
	    		  </tbody>
	    		</table>
	    	</div>
            <!-- --------------------------------コメント一覧--------------------------------------- -->
	    	<div>
	    		<h3>Comment</h3>
	    		<table class="table">
	    			<thead>
	    				<tr>
	    					<th></th>
	    					<th></th>
	    					<th></th>
	    				</tr>
	    			</thead>
	    			<tbody>
	    				<% @showbook.book_comments.each do |comment| %>
	    				  <tr id="comment-<%= comment.id %>">
	    					<%= render :partial => 'books/book_comment', :locals => {:comment => comment} %>
	    				  </tr>
	    				<% end %>
	    			</tbody>
	    		</table>
	    		<!-- -------------------コメントフォーム ----------------------------->
	    		<div class="form-group">
	    		<%= form_for [@showbook, @book_comment] do |f| %>
                  <%= f.text_area :comment, :style => 'width: 70%;'%>
                   <%= f.submit "送信"%>
                <% end %>
                </div>
                <!-- --------------------------------------------------------- -->
	    	</div>
	    </div>
	</div>