			<div>
			  <h2>User info</h2>
			  <table class="table">
			  	<div class="user-edit-image">
                  <%= attachment_image_tag user, :profile_image, :fill, 100, 100, class: "img-round",fallback: "no_image_lg.jpg" %>
                </div>
			    <tr>
			      <th>name</th>
			      <th><%= user.name %></th>
			    </tr>
                <tr>
                  <th>introduction</th>
                  <th><%= user.introduction %></th>
                </tr>
                <tr>
                	<th>follows</th>
                	<th>
                    <%= link_to following_user_path(user) do %>
                      <%= user.following.count %>
                    <% end %>
                  </th>
                </tr>
                <tr>
                	<th>followers</th>
                	<th>
                    <%= link_to followers_user_path(user) do %>
                      <%= user.followers.count %></th>
                    <% end %>
                </tr>
			  </table>
			  <% if user == current_user %>
                <%= link_to edit_user_path(user), class: 'btn btn-default btn-block' do %>
                   <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                <% end %>
			  <% end %>
        <div class="row">
          <%= link_to "chat-room", home_chatroom_path, class: 'btn btn-warning btn-block' %>
        </div>
			</div>